.col-swiper {
  height: 535px;
}

.col-1 {
  height: 1059px;
  background: url("./images/sbg_1.jpg") center 0 no-repeat;
}

.col-2 {
  height: 1173px;
  background: url("./images/sbg_2.jpg") center 0 no-repeat;
}

.col-3 {
  height: 705px;
  background: url("./images/sbg_3.jpg") center 0 no-repeat;
}

.col-4 {
  height: 897px;
  background: url("./images/sbg_4.jpg") center 0 no-repeat;
}
